html, body{
    margin: 0;
    height: 100%;
    background-color: rgb(220, 201, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

#living-room{
    background-image: url(../images/living-room.jpeg);
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 600px;
    height: 350px;
    position: relative;
    display: flex;
    overflow-x: auto;

}

#pei-pei{
    position: absolute;
}

#pei-pei img{
    position: absolute;
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 6s;
}

@keyframes run {
    0% {
      left: 100;
      transform: translateX(0);
    }
    100% {
      left: 100%;
      transform: translateX(-200%);
    }
}

#pet-container{
    position: relative;
    flex-direction: row;
}

#message{
    border-top: 3px solid black;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    width: 97%;
    font-size: 10px;
    color: rgb(224, 224, 237);
    background-color: rgb(18, 16, 16);
    position:absolute;
    bottom: 0;
}


#hunger-level{
    display: flex;
}

#hunger-level h4{
    color: rgb(73, 39, 39);
}

#hunger-level img{
    width: 40px;
    height: 40px;
    padding-top: 5px;
}

#fitness-level{
    display: flex;
}

#fitness-level h4{
    color: rgb(73, 39, 39);

}

#fitness-level img{
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 3px;
    
}

#age-container{
    color: rgb(172, 70, 70);
    position: relative;
    font-size: 15px;
    right: -450px;
    padding-top: 20px;
    font-weight: bold;
}

#age{
    color: rgb(172, 70, 70);
    position: relative;
    font-size: 15px;
    right: -450px;
    padding-top: 20px;
    font-weight: bold;
}



#function{
    width: 400px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

#feed{
    width: 100px;
    height: 40px;
    padding-top: 5px;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    cursor: pointer;

}


#grow{
    width: 100px;
    height: 40px;
    padding-top: 5px;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    cursor: pointer;
}

#fitness-btn{
    width: 100px;
    height: 40px;
    padding-top: 5px;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    cursor: pointer;
}



